{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{SITEURL}}/theme/css/index-styles.css">

{% endblock %}

{% block content %}
<div class="container mx-auto sm:px-4 container-margins">
<section id="content">
{% block content_title %}
<!--<h2 class="try">All articles</h2>-->
{% endblock %}

<ul class="ul-style" id="post-list">
{% for article in articles_page.object_list %}
        <li class="li-style"><article class="article-display">
            <div class="flex flex-wrap ">
                <div class="lg:w-1/2 pr-4 pl-4 md:w-full pr-4 pl-4 sm:w-full pr-4 pl-4">
                    <div class="set-height">
                        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"><img class="max-w-full h-auto img-resize" src="{{ SITEURL}}/images/blog/{{ article.slug}}1.webp"/></a>
                    </div>
                </div>

                <div class="lg:w-1/2 pr-4 pl-4 md:w-full pr-4 pl-4 sm:w-full pr-4 pl-4">
                    <div class="post-wrap">
                        <div class="post-info">
                            <address class="vcard-author">By
                            {% for author in article.authors %}
                                <a class="author-url" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a><br>
                            {% endfor %}
                                <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
                            </address>
                        </div>
                        <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
                        <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
                        <div class="article-display-footer">
                        </div>
                    </div>
                </div>
            </div>
        </article></li>
{% endfor %}
</ul><!-- /#posts-list -->
{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
</section><!-- /#content -->
</div>
<hr>

{% endblock content  %}