{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{SITEURL}}/theme/css/moocstyles.css">
{% endblock %}

{% block content %}

<div class="container mx-auto sm:px-4 mooc-container">
    <div class="pt-5">
        <h4 class="mooc-center join-title">Join us for our free online course!</h4>
    </div>
    <div class="pt-3">
        <p class="mooc-center">You will learn to develop paper based community currencies: This course pre-dates our digital Community
            Inclusion Currencies for more recent trainings visit the links below.</p>
    </div>
    <div class="pt-5">

    </div>
    <div class="flex flex-wrap  pt-5">
<!--        <p class="in-font">Take the course here       or          Access the resource here</p>-->
<!--        <div class="w-1/3">-->
<!--            <p class="in-font">Take course here</p>-->
<!--        </div>-->
<!--        <div class="w-1/3 mooc-center">-->
<!--            <p class="in-font">or</p>-->
<!--        </div>-->
<!--        <div class="w-1/3">-->
<!--            <p class="in-font">Access the resource here:</p>-->
<!--        </div>-->
    </div>
    <div class="flex flex-wrap  pt-5 pb-5">
        <div class="w-1/2 mooc-center">
            <p class="in-font pb-5">Take the course</p>
            <a class="m-button" href="https://www.grassrootseconomics.org/mooc-1">Let's begin</a>
        </div>
        <div class="w-1/2 ">
            <p class="in-font ">Access the resource here:</p>
            <div class="flex items-center mooc-gap">
                <div class="flex-shrink-0">
                    <a href="https://www.youtube.com/playlist?list=PLPUExzwZAUpbaCnZSJPxMve-h1yys54v4"><img class="max-w-full h-auto" src="{{SITEURL}}/theme/images/mooc-imgs/tube-icon.webp"></a>
                </div>
                <div class="flex-grow ms-3">
                    Course videos
                </div>
            </div>
            <div class="flex items-center mooc-gap">
                <div class="flex-shrink-0">
                    <a href="https://www.youtube.com/playlist?list=PLPUExzwZAUpbEInJy_8Wj_c_mDsw7-qXe"><img class="max-w-full h-auto" src="{{SITEURL}}/theme/images/mooc-imgs/tube-icon.webp"></a>
                </div>
                <div class="flex-grow ms-3">
                    Village Market Simulator
                </div>
            </div>
            <div class="flex items-center mooc-gap">
                <div class="flex-shrink-0">
                    <a href="https://github.com/GrassrootsEconomics"><img class="max-w-full h-auto" src="{{SITEURL}}/theme/images/mooc-imgs/github-icon.webp"></a>
                </div>
                <div class="flex-grow ms-3">
                    <a class="mooclink" href="https://gitlab.com/grassrootseconomics/cic-docs">Gitlab resources</a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="moc-lastline">
{% endblock %}